@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #020617; /* Deep Dark Blue for Light Mode */
  --grid-color: rgba(0, 0, 0, 0.04);
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
  --grid-color: rgba(255, 255, 255, 0.04);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    background-image: 
      linear-gradient(var(--grid-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
    background-size: 40px 40px;
    background-attachment: fixed;
    @apply transition-colors duration-700 antialiased;
  }
}